<div class="row">
  <div class="sign-up col-12 col-lg-8 mx-lg-auto p-0 shadow">

    <div class="signup--title">
      <h2 class="h2 p-3 text-center">Edit</h2>
    </div>




    <div class="form--signup col-12 col-lg-10 mx-lg-auto">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

          <div class="form-inputs">

            <div class="photo--container_edit p-3 py-1 border-0 bg-white justify-content-center">



          <div class="title d-flex justify-content-between">
            <h2 class="px-1 h4">profile picture</h2>
            <label>
              <p class="text-muted">
                <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1623252545/jamz/iconfinder_1976052_gallery_image_images_photo_picture_icon_oem2zf.svg" alt="picture_upload" class="post-emoji"/>
              </p>
              <span class="d-none">
                <%= f.input :photo, as: :file %>
              </span>
            </label>
          </div>

          <div class="container px-3 d-flex justify-content-center border-0">
              <div id="profile-img">
                <%= cl_image_tag display_photo(current_user), aspect_ratio: 1, crop: "fill" , class: "avatar-large", id: "preview-photo" %>

              </div>

              <div class="container px-3 d-flex justify-content-center border-0">
                  <div id="profile-img">
                    <%= cl_image_tag display_photo(current_user), aspect_ratio: 1, crop: "fill" , class: "avatar-large" %>
                  </div>
              </div>

            </div>

            <div class="email--container_edit mt-3">
              <%= f.input :email, required: true, autofocus: true, label: false, input_html: { class: 'form--input_text' }, placeholder: 'E-mail' %>
            </div>

            <div class="username--container_edit">
              <%= f.input :username, required: true, autofocus: true, label: false, placeholder: 'Username' %>
            </div>

            <div class="firstname--container_edit">
              <%= f.input :first_name, required: true, autofocus: true, label: false, placeholder: 'First name' %>
            </div>

            <div class="lastname--container_edit">
              <%= f.input :last_name, required: true, autofocus: true, label: false, placeholder: 'Last name' %>
            </div>

            <div class="description--container_edit">
              <%= f.input :description, required: true, autofocus: true, label: false, placeholder: 'Bio', label_html: { class: "pt-1 pl-1" } %>
            </div>

            <div class="address--container_edit">
              <%= f.input :address, required: true, autofocus: true, id: "user_address", label: false, placeholder: 'Address' %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <div class="password--container_edit">
                <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        label: false,
                        placeholder: 'Password',
                        input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="confirm--container_edit">
               <%= f.input :password_confirmation,
                        required: false,
                        label: false,
                        placeholder: 'Confirm your password',
                        input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="current--container_edit">
               <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        label: false,
                        placeholder: 'Current password',
                        input_html: { autocomplete: "current-password" } %>
            </div>

          </div>

            <div class=" col-4 col-lg-3 col-md-3 my-4 mx-auto">
              <%= f.button :submit, "Edit", class: "btn-post btn-bg mx-auto" %>
            </div>
        <% end %>


        <div class="password--container_edit px-3 py-1 border-0 bg-white my-2">
          <h2 class="px-1 h4">password</h2>
            <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    label: false,
                    input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="confirm--container_edit px-3 py-1 border-0 bg-white my-2">
          <h2 class="px-1 h4">confirm password</h2>
           <%= f.input :password_confirmation,
                    required: false,
                    label: false,
                    input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="current--container_edit px-3 py-1 border-0 bg-white my-2">
          <h2 class="px-1 h4">current password</h2>
           <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    label: false,
                    input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions mb-3">
          <%= f.button :submit, "Update", class: "btn-post btn-bg mx-auto" %>
        </div>

      </div>
    <% end %>

  </div>


  <!-- <h4 class="mt-3">Cancel my account</h3>
 <%= link_to "Back", feed_users_path, class: 'btn-post btn-bg' %>
  <p>Unhappy? <%#= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

  </div>
</div>

<div class="mt-4 mb-2 mx-auto">
      <%= link_to "Back", feed_users_path, class: 'devise--link' %>
</div>


