<div id="chatroom">
  <h1>
    <% memberships = ChatMembership.where(chatroom: @chatroom.id ) %>
    <% if memberships.first.user.username == current_user.username %>
      <%= memberships.second.user.username %>
    <% else %>
      <%= memberships.first.user.username %>
    <% end %>
  </h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Type your message here..." %>
  <% end %>
</div>

