<div class="row">
  <div class="profile-column col-3">
    <%= render 'shared/profile_div' %>
  </div>
  <div class="search-column col-6">
    <div class="">
      <div class="search-bar">
        <%= form_tag users_path, method: :get, class: "d-flex w-100" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control round-borders-left no-border-right",
            placeholder: "Find a user"
          %>
          <%= button_tag type: 'submit', class: "bg-white round-borders-right no-border-left" do %>
            <i class="fas fa-search search-icon"></i>
          <% end %>
        <% end %>
      </div>
      <div class="search-result mt-3">
        <div class="row justify-content-start">
          <% @users.each do |user| %>
            <div class="user-card col-3 text-center">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/danilogcastro", class: "avatar-large" %>
              <h3 class="full-name mt-3"><%= user.first_name %> <%= user.last_name %></h3>
              <p class="username mb-3">@<%= user.username %></p>
              <div class="user-instruments">
                <% user.instruments.each do |instrument| %>
                  <p><%= instrument.name %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="map"
     class="map-column col-3"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
