<div class="row">
  <!-- profile div on the left -->
  <div class="col-3">
    <%= render 'shared/profile_div' %>
  </div>

  <div class="col-6">
    <!-- post box -->
    <div class="post--container mb-5 p-3">
      <%= render 'shared/post-feed_new' %>
    </div>

    <!-- main container -->
    <div class="feed--container p-3">
      <div class="profile-nav" style="width: 70%">
        <h5>about me</h5>
        <span class="dot"></span>
        <h5>activity</h5>
        <span class="dot"></span>
        <h5>friends</h5>
        <span class="dot"></span>
        <h5>jams</h5>
      </div>
      <% if @posts.empty? %>
        <div style="display: flex; justify-content: center; align-items: center; margin: 20px;">
          <%= image_tag 'no_posts_icon.svg', style: "width: 10%; margin: 15px;" %>
          <p>You didn't posted anything yet</p>
        </div>
      <% else %>
        <%= render 'shared/post_display' %>
      <% end %>
    </div>
  </div>

  <div class="col-lg-3 col-sm-12">
    <!-- search bar on the left -->
    <div class="search--container mb-5">
      <%= render 'shared/search_bar' %>
    </div>

    <!-- container with messages and notifications -->
    <div class="msg--container_title mb-1">
      <div class="container d-flex justify-content-around align-items-center">
        <h1>messages</h1>
        <span class="dot"></span>
        <h1>notifications</h1>
      </div>
    </div>

    <div class="msg--container p-3">
    </div>
  </div>
</div>
