<div class="row">

  <div class=" col-12 col-lg-3 col-sm-12 pe-1 ps-1">

     <div class="user--container d-none d-lg-block">
      <%= render 'shared/profile_div' %>
    </div>

      <div class="search--container mb-3 d-block d-lg-none">
      <%= render 'shared/search_bar' %>
      </div>

  </div>

  <div class="col-lg-6 col-sm-12">

    <div class="post--container mb-3 p-3">
      <%= render 'shared/post-feed_new' %>
    </div>

       <!-- main container -->
    <div class="feed--container p-3" id="main-container">
      <div class="profile-nav" style="width: 70%">
        <span class="d-inline d-lg-none d-md-none px-2"><i class="fas fa-user"></i></span>
        <h5 class="profile-nav-item d-none d-lg-inline d-md-inline" id="about-me">about me</h5>
        <span class="dot"></span>
        <span class="d-inline d-lg-none d-md-none px-2"><i class="fas fa-file"></i></span>
        <h5 class="profile-nav-item active-nav d-none d-lg-inline d-md-inline" id="activity">activity</h5>
        <span class="dot"></span>
        <span class="d-inline d-lg-none d-md-none px-2"><i class="fas fa-people-arrows"></i></span>
        <h5 class="profile-nav-item d-none d-lg-inline d-md-inline" id="friends">friends</h5>
        <span class="dot"></span>
        <span class="d-inline d-lg-none d-md-none px-2"><i class="fas fa-music"></i></span>
        <h5 class="profile-nav-item d-none d-lg-inline d-md-inline" id="jams">jams</h5>
      </div>

      <!-- about me nav -->
      <div id="about-me-card" style="display: none;">
        <%= render 'shared/profile_about_me' %>
      </div>

      <!-- activity nav -->
      <div id="activity-card">
        <% if @posts.empty? %>
          <div style="display: flex; justify-content: center; align-items: center; margin: 20px;">
            <%= image_tag 'no_posts_icon.svg', style: "width: 10%; margin: 15px;" %>
            <p>You haven't posted anything yet</p>
          </div>
        <% else %>
          <%= render 'shared/post_display' %>
        <% end %>
      </div>

      <!-- friends nav -->
      <div id="friends-card" style="display: none;">
        <p>friends</p>
      </div>

      <!-- jams nav -->
      <div id="jams-card" style="display: none;">
        <p>jams</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-sm-12 col-12">

    <div class="search--container mb-5 d-none d-lg-block">
      <%= render 'shared/search_bar' %>
    </div>

    <div class="msg--container p-3 d-none d-lg-block" id="feed-chat-container">
      <%= render 'shared/chat_memberships', chat_memberships: @chat_memberships %>
    </div>

  </div>

  </div>




