<div class="chat-header container" id="chat-trigger">
  <p>Chats <%= @chat_memberships.size %></p>
  <div class="chat-content" id="chat-target">
    <% @chat_memberships.each do |chat_membership| %>
      <div data-chatroom-id="<%= chat_membership.chatroom_id %>" class="user-chat" id="chatroom-<%= chat_membership.chatroom_id %>" >
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
        <% memberships = ChatMembership.where(chatroom: chat_membership.chatroom_id) %>
        <% if memberships.first.user.username == current_user.username %>
          <p id="chat-action"><%= current_user.username %><% current_user.id %></p>
        <% else %>
         <p id="chat-action" data-id="<%= memberships.first.user.id %>"><%= memberships.first.user.username %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


