<div class="footer py-3">
  <div class="row text-center content d-flex flex-row align-items-center">
    <div class="col-xs-12 col-sm-6">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 mt-3">
      <div class="footer-copyright d-flex flex-column">
        <div class="footer-span-1">
          <p><span>This app was developed by:</span></p>
        </div>
        <div class="footer-avatar">
          <%= link_to "https://www.linkedin.com/in/danilocastro1989/", target: "blank", class: "dev" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/danilogcastro", class: "avatar" %>
          <% end %>
          <%= link_to "https://www.linkedin.com/in/luca-severo-522971209/", target: "blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/lucasevero", class: "avatar" %>
          <% end %>
          <%= link_to "https://www.linkedin.com/in/carla-cabrera-valdivia/", target: "blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/cvaldivia83", class: "avatar" %>
          <% end %>
          <%= link_to "https://www.linkedin.com/in/andre-menezes-developer/", target: "blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/dedemenezes", class: "avatar" %>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
