<div class="container">
<% @posts.each do |post| %>
  <div class="row"  id="post-<%= post.id %>">
    <div class="col-12 post-container">
      <div class="post-header d-flex">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/dedemenezes", class: 'avatar' %>
        <h5><%= post.user.first_name  %> <%= post.user.last_name  %></h5>
        <p>@<%= post.user.username %> <span><%= distance_of_time_in_words(Time.now, post.created_at) %></span></p>
      </div>
      <div class="post-content">
        <div class="post-text">
          <h4><%= post.content %></h4>
        </div>
        <div class="post-images text-center">
          <% post.photos.each do |photo| %>
            <% if photo.blob.content_type == "video/mp4" %>
              <%= cl_video_tag "#{photo.key}", controls: true, width: 300, id: "video-post", onplay: "setNewSize()" %>
            <% else %>
              <%= cl_image_tag "#{photo.key}", width: 300, id: "img-post" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="post-action">
        <ul class="list-inline">
          <li class="list-inline-item" data-controller="like">
            <% if post.has_like?(current_user) %>
              <%= link_to like_path(post), method: "DELETE", remote: true do %>
                <%= cl_image_tag 'like-icon.png', class: 'post-icon', remote: true %>
              <% end %>
            <% else %>
                <%= link_to likes_path(post), method: "POST", remote: true do %>
                <%= cl_image_tag 'like-icon.png', data_like_target: "like", class: 'post-icon', remote: true %>
                <% end %>
            <% end %>
            <spa data-action="click->like#refresh">
              <%= post.likes.count %>
            </span>
          </li>
          <li class="list-inline-item">
            <%= link_to '#' do %>
              <%= cl_image_tag 'comment-icon.png', class: 'post-icon', remote: true %>
            <% end %>
            <span>
              228
            </span>
          </li>
          <li class="list-inline-item">
            <%= link_to '#' do %>
              <%= cl_image_tag 'foward-icon.png', class: 'post-icon', remote: true %>
            <% end %>
            <span>
              53
            </span>
          </li>
          <li class="list-inline-item">
            <%= link_to '#' do %>
              <%= cl_image_tag 'share-icon.png', style: 'width: 0.8rem', remote: true %>
            <% end %>
          </li>
        </ul>
      </div>
      <%= post != @posts.last ? "<hr>".html_safe : "" %>
    </div>
  </div>
<% end %>
</div>

<script>
 const setNewSize = () => {
    const videoPlayer = document.getElementById('video-post')
    videoPlayer.width = 524;
  };

</script>
