<%= simple_form_for @post, remote: true do |f| %>
  <div class="form--input">
    <%= f.input :content, input_html: { class: "form--input_text" }, placeholder: "How do you sound like today?", label: false %>
  </div>

   <div id="previews">
    <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
  </div>

  <%= f.input :temp_gif_url, as: :hidden %>

  <div class="form--input_elements d-flex justify-content-between mx-4">

    <div class="form--input_imgs">
      <label>
        <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1623252545/jamz/iconfinder_1976052_gallery_image_images_photo_picture_icon_oem2zf.svg" alt="picture_upload" class="post-emoji"/>
        <span style="display:none;">
          <%= f.input :photos, as: :file, input_html: { multiple: true }, id: 'file-upload', class: 'photo_upload', label: false %>
        </span>
      </label>

      <label>
        <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1623252546/jamz/iconfinder_315415_gif_file_icon_pxzthc.svg" alt="gif_upload" class="post-emoji" style="width: 36px;">

      </label>

      <label>
        <img src="https://res.cloudinary.com/rent-an-instrument/image/upload/v1623252545/jamz/iconfinder_1276846_misc_smile_icon_iaiv0h.svg" alt="smile-button" class="post-emoji">

      </label>

    </div>

    <div class="form--input_submit">
      <%= f.submit "Post", class: "btn-post  btn-bg" %>
    </div>

  </div>
<% end %>

<div class="framediv">
  <iframe src="<%= gif_posts_url %>" frameborder="0"></iframe>
</div>





