<div class="profile-div">
  <% if @user == current_user %>
    <div class="gear_wheel_div">
      <%= link_to edit_user_registration_path do %>
        <%= image_tag 'gear_wheel.svg', id: "gear_wheel" %>
      <% end %>
    </div>
  <% else %>
    <div class="gear_wheel_div">
      <%= image_tag '' %>
    </div>
  <% end %>
  <div id="profile-img">
    <%= cl_image_tag display_photo(@user), aspect_ratio: 1, crop: :fill, class: "avatar-large" %>
  </div>
  <div style="text-align: center;">
    <h2 class="red-title"><%= @user.first_name + ' ' + @user.last_name %></h2>
    <p>@<span class="username"><%= @user.username %></span></p>
    <br>
    <p><%= @user.description %></p>
    <br>
    <div class="d-flex justify-content-around">
      <% if @user == current_user %>
        <div><h3 class="red-title">42</h3><h5>friends</h5></div>
        <div><h3 class="red-title">6</h3><h5>jams</h5></div>
      <% else %>
        <div><h3 class="red-title">61</h3><h5>friends</h5></div>
        <div><h3 class="red-title">7</h3><h5>jams</h5></div>
      <% end %>
    </div>
    <div class="profile-action">
      <% if params[:id].to_i != current_user.id && params[:action] == "show" && params[:controller] == 'users' %>
        <% if Chatroom.chatroom_exist?(@user, current_user) %>
          <%= link_to "#", class: 'btn-open-chat' do %>
            <i class="fas fa-comments"></i>
            Message
          <% end %>
        <% else %>
          <%= link_to "#", class: 'btn-msg', data: { id: params[:id] }, remote: true do %>
            <i class="fas fa-comments"></i>
            Connect
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
