<div class="profile-div">
  <div class="gear_wheel_div">
    <%= link_to edit_user_registration_path do %>
      <%= image_tag 'gear_wheel.svg', id: "gear_wheel" %>
    <% end %>
  </div>
  <div id="profile-img">
    <%= cl_image_tag display_photo(@user), aspect_ratio: 1, crop: :fill, class: "avatar-large" %>
  </div>
  <div style="text-align: center;">
    <h2 class="red-title"><%= @user.first_name + ' ' + @user.last_name %></h2>
    <p>@<%= @user.username %></p>
    <br>
    <p><%= @user.description %></p>
    <br>
    <div class="d-flex justify-content-around">
      <div><h3 class="red-title">75</h3><h5>friends</h5></div>
      <div><h3 class="red-title">9</h3><h5>jams</h5></div>
    </div>
    <div class="profile-action">
      <% if params[:id].to_i != current_user.id && params[:action] == "show" && params[:controller] == 'users' %>
        <%= link_to chatrooms_path(user_id: params[:id]), method: 'POST', class: 'btn-msg' do %>
          <i class="fas fa-comments"></i>
          Connect
        <% end %>
      <% end %>
    </div>
  </div>
</div>
