<div class="row">
  <div class="login--session col-12 col-lg-6 mx-lg-auto shadow p-0">

    <div class="login--title">
      <h2 class="h2 p-3 text-center">Log in</h2>
    </div>

    <div class="form--login col-12 col-lg-10 mx-lg-auto">

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                  required: false,
                  autofocus: true,
                  label: false,
                  placeholder: 'E-mail',
                  input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                  required: false,
                  label: false,
                  placeholder: 'Password',
                  input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn-post btn-bg mx-auto mb-3" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="mt-3">
  <%= render "devise/shared/links" %>
</div>
