<!DOCTYPE html>
<html>
  <head>
    <title>Jamz — Play with new Friends</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="container" style="max-width: 90%">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
    <% if user_signed_in? %>
      <div id="current-user-id" style="display: none;"><%= current_user.id %></div>
    <% end %>

  </body>
</html>
